In [6]:
import numpy as np
from sklearn.utils import check_random_state
from sklearn.metrics.pairwise import distance_metrics
import math

In [5]:
import pandas as pd

In [4]:
# cr = pd.read_csv('crime2.csv')

In [6]:
# cr.head()

,localities,assassination,theft,gang_rape,burglary,rape,assualt_attack,harassment,crime_total,area_total,longitude,latatitude,area_per_million_km,crime_total_divided_area
0,JAFFARPUR KALAN,4,724,2,41,11,11,6,799,7.048170e+07,76.91555,28.59572,70.481699,11.336276
1,MUNDKA,3,244,1,14,5,12,4,270,4.859457e+07,76.96085,28.67042,48.594571,5.556176
2,BABA HARI DAS NAGAR,4,414,2,70,9,18,8,512,2.899435e+07,76.96681,28.62867,28.994346,17.658615
3,NAJAFGARH,4,900,1,60,4,10,10,973,8.473809e+06,76.98269,28.60975,8.473809,114.824393
4,CHHAWLA,4,485,1,65,6,16,11,575,2.632166e+07,76.99466,28.58691,26.321658,21.845129

In [7]:
# from sqlalchemy import create_engine
# database_username = 'b5a53e446f5cec'
# database_password = '0f8d1ba3'
# database_ip       = 'us-cdbr-iron-east-02.cleardb.net'
# database_name     = 'heroku_7c3443583b90116'
# database_connection = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
#                                                format(database_username, database_password, 
# #                                                       database_ip, database_name))
# cr.to_sql('initial', con=database_connection, if_exists='replace',chunksize=1000,index=False)

In [7]:

from sqlalchemy import create_engine
database_username = 'root'
database_password = ''
database_ip       = 'localhost'
database_name     = 'safepath'
database_connection = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))
# cr.to_sql('initial', con=database_connection, if_exists='replace',chunksize=1000,index=False)

In [8]:
cr = pd.read_sql('SELECT * FROM initial', con=database_connection)

In [9]:
cr.head()

,localities,assassination,theft,gang_rape,burglary,rape,assualt_attack,harassment,crime_total,area_total,longitude,latatitude,area_per_million_km,crime_total_divided_area
0,JAFFARPUR KALAN,7,727,3,41,11,11,7,799,7.048170e+07,76.91555,28.59572,70.481699,11.336276
1,MUNDKA,3,244,1,14,5,12,4,270,4.859457e+07,76.96085,28.67042,48.594571,5.556176
2,BABA HARI DAS NAGAR,4,414,2,70,9,18,8,512,2.899435e+07,76.96681,28.62867,28.994346,17.658615
3,NAJAFGARH,4,900,1,60,4,10,10,973,8.473809e+06,76.98269,28.60975,8.473809,114.824393
4,CHHAWLA,4,485,1,65,6,16,11,575,2.632166e+07,76.99466,28.58691,26.321658,21.845129

In [10]:
data = cr.iloc[:,[1,2,3,4,5,6,7,12]].values

In [11]:
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler()
data = sc_X.fit_transform(data)

In [12]:
data

array([[0.41666667, 0.55275974, 0.33333333, ..., 0.13432836, 0.15      ,
        1.        ],
       [0.08333333, 0.16071429, 0.        , ..., 0.14925373, 0.075     ,
        0.68548925],
       [0.16666667, 0.2987013 , 0.16666667, ..., 0.23880597, 0.175     ,
        0.40384054],
       ...,
       [0.41666667, 0.16558442, 0.        , ..., 0.11940299, 0.075     ,
        0.        ],
       [0.16666667, 0.34902597, 0.        , ..., 0.23880597, 0.175     ,
        0.02433865],
       [0.        , 0.05357143, 0.        , ..., 0.        , 0.025     ,
        0.02885943]])

In [14]:
# import pandas as pd
# from sklearn.datasets import load_iris
# from sklearn.cluster import KMeans
# import matplotlib.pyplot as plt


# sse = {}
# for k in range(1, 10):
#     kmeans = KMeans(n_clusters=k, max_iter=1000).fit(data)
#     #print(data["clusters"])
#     sse[k] = kmeans.inertia_ # Inertia: Sum of distances of samples to their closest cluster center
# plt.figure()
# plt.plot(list(sse.keys()), list(sse.values()))
# plt.xlabel("Number of cluster")
# plt.ylabel("SSE")
# plt.show()

In [15]:
from sklearn.cluster import KMeans
import numpy as np
X = data

kmeans = KMeans(n_clusters=5,random_state=0).fit(X)
kmeans.labels_

pridiction=kmeans.predict(data)

In [16]:
safety = []
c = 0
for li in kmeans.cluster_centers_:
    sum = 0;
    sum += li[3] + li[5] + li[7]
    safety.append((sum,c))
    c += 1
safety = sorted(safety)

In [17]:
safety

[(0.25862822812351577, 2),
 (0.6466648022641845, 1),
 (0.6952591694521474, 0),
 (1.0579625658879555, 4),
 (1.211779985167674, 3)]

In [18]:
dict1 = {}
m = 0
for s in safety:
    dict1[s[1]] = m 
    m += 1

In [19]:
dict1

{2: 0, 1: 1, 0: 2, 4: 3, 3: 4}

In [20]:
# before
print(pridiction)

[4 4 4 1 4 4 4 4 3 4 4 4 0 3 0 4 3 1 2 1 1 4 0 1 0 2 4 0 1 0 1 1 0 2 3 0 1
 1 1 1 1 2 4 0 3 0 1 4 2 0 1 1 3 4 1 2 1 0 1 1 1 1 1 2 0 0 1 1 1 0 4 1 1 2
 2 1 1 1 1 1 2 2 0 3 3 2 1 0 0 2 1 0 2 1 0 1 1 2 0 1 0 3 0 1 1 2 2 1 2 1 2
 0 0 1 2 2 2 3 2 2 0 1 2 0 2 2 3 2 1 1 2 0 1 2 2 0 0 2 2 0 1 2 0 1 1 0 0 0
 0 2 0 0 1 2 1 1 2 2 0 3 0 2 2 2 1 2]

In [21]:
for i in range(len(pridiction)):
    pridiction[i]=dict1[pridiction[i]]

In [22]:
# after
print(pridiction)

[3 3 3 1 3 3 3 3 4 3 3 3 2 4 2 3 4 1 0 1 1 3 2 1 2 0 3 2 1 2 1 1 2 0 4 2 1
 1 1 1 1 0 3 2 4 2 1 3 0 2 1 1 4 3 1 0 1 2 1 1 1 1 1 0 2 2 1 1 1 2 3 1 1 0
 0 1 1 1 1 1 0 0 2 4 4 0 1 2 2 0 1 2 0 1 2 1 1 0 2 1 2 4 2 1 1 0 0 1 0 1 0
 2 2 1 0 0 0 4 0 0 2 1 0 2 0 0 4 0 1 1 0 2 1 0 0 2 2 0 0 2 1 0 2 1 1 2 2 2
 2 0 2 2 1 0 1 1 0 0 2 4 2 0 0 0 1 0]

In [23]:
print(cr["localities"].values)

['JAFFARPUR KALAN' 'MUNDKA' 'BABA HARI DAS NAGAR' 'NAJAFGARH' 'CHHAWLA'
 'KANJHAWALA' 'DWARKA NORTH' 'BAWANA' 'RANHOLA' 'BAWANA' 'BEGUM PUR'
 'DWARKA SEC-23' 'AMAN VIHAR' 'UTTAM NAGAR' 'BINDAPUR' 'DWARKA SOUTH'
 'NANGLOI' 'BINDAPUR' 'VIKAS PURI' 'NIHAL VIHAR' 'SULTAN PURI'
 'SHAHBAD DAIRY' 'JANAK PURI' 'PALAM VILLAGE' 'DABRI' 'SAGARPUR'
 'KAPASHERA' 'NARELA' 'MIANWALI NAGAR' 'MANGOLPURI' 'HARI NAGAR'
 'PASCHIM VIHAR' 'TILAK NAGAR' 'VIJAY VIHAR' 'KHYALA' 'ROHINI SOUTH'
 'ROHINI NORTH' 'RANI BAGH' 'RAJOURI GARDEN' 'RAJOURI GARDEN' 'MAYA PURI'
 'KN KATJU MARG' 'DELHI CANTT' 'PRASHANT VIHAR' 'PUNJABI BAGH'
 'KIRTI NAGAR' 'NARAINA' 'ALIPUR' 'SAMAYPURBADLI' 'SUBHASH PLACE'
 'INDERPURI' 'MAURYA ENCLAVE' 'MOTI NAGAR' 'FATEHPUR BERI'
 'VASANT KUNJ NORTH' 'VASANT KUNJ SOUTH' 'SWARUP NAGAR' 'SHALIMAR BAGH'
 'PATEL NAGAR' 'RANJIT NAGAR' 'KESHAV PURAM' 'MAHENDRA PARK'
 'BHALSWA DAIRY' 'VASANT VIHAR' 'ANAND PARBAT' 'ASHOK VIHAR'
 'JAHANGIR PURI' 'ADRASH NAGAR' 'BHARAT NAGAR' 'SOUTH CAMPUS' 'MEHRAULI'
 'PARSHAD NAGAR' 'RAJINDER NAGAR' 'SARAI ROHILLA' 'GULABIBAGH'
 'KAROL BAGH' 'D.B.G ROAD' 'MODEL TOWN' 'CHANAKYAPURI' 'BURARI'
 'SAFDARJUNG ENCLAVE' 'SAROJINI NAGAR' 'ROOP NAGAR' 'MANDIR MARG'
 'MALVIYA NAGAR' 'SAFDARJUNG ENCLAVE' 'MAURICE NAGAR' 'SUBZIMANDI'
 'BARA HINDU RAO' 'HAUZ KHAS' 'MUKHERJI NAGAR' 'PAHARGANJ' 'SADAR BAZAR'
 'TUGLAK ROAD' 'PARLIAMENT STREET' 'NEB SARAI' 'CONNAUGHT PLACE'
 'NABI KARIM' 'LAHORI GATE' 'CIVIL LINES' 'TIMARPUR' 'BARAKHAMBA ROAD'
 'KOTALA MUBARAK PUR' 'HAUZQAZI' 'KASHMERE GATE' 'KAMLA MARKET' 'SAKET'
 'KASHMERE GATE' 'GREATER KAILASH' 'DEFENCE COLONY' 'JAMA MASJID'
 'PRASHANT VIHAR' 'TILAK MARG' 'CHANDNI MAHAL' 'LODHI COLONY'
 'LAJPAT NAGAR' 'DARYA GANJ' 'AMAR COLONY' 'SANGAM VIHAR' 'H. N. DIN'
 'I.P. ESTATE' 'CHITRANJAN PARK' 'KHAJURIKHAS' 'SONIA VIHAR' 'KALKAJI'
 'KALKAJI' 'SUNLIGHT COLONY' 'NEW USMANPUR' 'BHAJANPURI' 'GOVIND PURI'
 'GANDHI NAGAR' 'NEW FRIENDS COLONY' 'SEELAMPUR' 'SHAKARPUR' 'ZAFRABAD'
 'KARAWAL NAGAR' 'OKHLA' 'WELCOME' 'GEETA COLONY' 'KRISHNA NAGAR'
 'GOKULPURI' 'SARITA VIHAR' 'JAGATPURI' 'SHAHDARA' 'PULPRAHLAD PUR'
 'JYOTI NAGAR' 'FARASH BAZAR' 'JAMIA NAGAR' 'ANANDVIHAR' 'PREETVIHAR'
 'MANSAROVAR PARK' 'PANDAV NAGAR' 'BADAR PUR' 'MAYURVIHAR' 'MADHUVIHAR'
 'MANDAWALI' 'SARITA VIHAR' 'VIVEKVIHAR' 'NANDNAGARI' 'NEW ASHOK NAGAR'
 'ANANDVIHAR' 'G.T.B. ENCLAVE' 'SEEMAPURI' 'KALYANPURI' 'HARSH VIHAR'
 'GHAZIPUR']

In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


X = cr.iloc[0:166, 0].values
y1 = cr.iloc[:, 10].values
y2 = cr.iloc[:, 11].values
y = pridiction
places = cr["localities"].values
new_array= []
for i in range(0, 166):
    str = places[i]+", Delhi, India"
    new_array.append(str)


lati = y2
longi = y1

ar = []
   
for i in range(0, 166):
    y1[i] = round(y1[i], 4)
    y2[i] = round(y2[i], 4)

    o = {  "n": places[i],
        
           'mag': y[i],                 
            'lati': y1[i], 
            'longi': y2[i]
           
            
        }
    ar.append(o)
print(ar)

[{'n': 'JAFFARPUR KALAN', 'properties': {'mag': 3}, 'lati': 76.9156, 'longi': 28.5957}, {'n': 'MUNDKA', 'properties': {'mag': 3}, 'lati': 76.9608, 'longi': 28.6704}, {'n': 'BABA HARI DAS NAGAR', 'properties': {'mag': 3}, 'lati': 76.9668, 'longi': 28.6287}, {'n': 'NAJAFGARH', 'properties': {'mag': 1}, 'lati': 76.9827, 'longi': 28.6098}, {'n': 'CHHAWLA', 'properties': {'mag': 3}, 'lati': 76.9947, 'longi': 28.5869}, {'n': 'KANJHAWALA', 'properties': {'mag': 3}, 'lati': 77.0036, 'longi': 28.7258}, {'n': 'DWARKA NORTH', 'properties': {'mag': 3}, 'lati': 77.0156, 'longi': 28.6037}, {'n': 'BAWANA', 'properties': {'mag': 3}, 'lati': 77.0228, 'longi': 28.8066}, {'n': 'RANHOLA', 'properties': {'mag': 4}, 'lati': 77.036, 'longi': 28.6538}, {'n': 'BAWANA', 'properties': {'mag': 3}, 'lati': 77.0425, 'longi': 28.7965}, {'n': 'BEGUM PUR', 'properties': {'mag': 3}, 'lati': 77.0518, 'longi': 28.7245}, {'n': 'DWARKA SEC-23', 'properties': {'mag': 3}, 'lati': 77.0585, 'longi': 28.5641}, {'n': 'AMAN VIHAR', 'properties': {'mag': 2}, 'lati': 77.0608, 'longi': 28.7096}, {'n': 'UTTAM NAGAR', 'properties': {'mag': 4}, 'lati': 77.0649, 'longi': 28.625}, {'n': 'BINDAPUR', 'properties': {'mag': 2}, 'lati': 77.0662, 'longi': 28.6091}, {'n': 'DWARKA SOUTH', 'properties': {'mag': 3}, 'lati': 77.0667, 'longi': 28.5784}, {'n': 'NANGLOI', 'properties': {'mag': 4}, 'lati': 77.067, 'longi': 28.682}, {'n': 'BINDAPUR', 'properties': {'mag': 1}, 'lati': 77.0674, 'longi': 28.6205}, {'n': 'VIKAS PURI', 'properties': {'mag': 0}, 'lati': 77.0683, 'longi': 28.63}, {'n': 'NIHAL VIHAR', 'properties': {'mag': 1}, 'lati': 77.0717, 'longi': 28.665}, {'n': 'SULTAN PURI', 'properties': {'mag': 1}, 'lati': 77.0786, 'longi': 28.7026}, {'n': 'SHAHBAD DAIRY', 'properties': {'mag': 3}, 'lati': 77.0789, 'longi': 28.7477}, {'n': 'JANAK PURI', 'properties': {'mag': 2}, 'lati': 77.0819, 'longi': 28.6286}, {'n': 'PALAM VILLAGE', 'properties': {'mag': 1}, 'lati': 77.0829, 'longi': 28.5881}, {'n': 'DABRI', 'properties': {'mag': 2}, 'lati': 77.086, 'longi': 28.6127}, {'n': 'SAGARPUR', 'properties': {'mag': 0}, 'lati': 77.0864, 'longi': 28.5914}, {'n': 'KAPASHERA', 'properties': {'mag': 3}, 'lati': 77.0872, 'longi': 28.5296}, {'n': 'NARELA', 'properties': {'mag': 2}, 'lati': 77.0885, 'longi': 28.8532}, {'n': 'MIANWALI NAGAR', 'properties': {'mag': 1}, 'lati': 77.0888, 'longi': 28.6796}, {'n': 'MANGOLPURI', 'properties': {'mag': 2}, 'lati': 77.0916, 'longi': 28.6966}, {'n': 'HARI NAGAR', 'properties': {'mag': 1}, 'lati': 77.0995, 'longi': 28.6094}, {'n': 'PASCHIM VIHAR', 'properties': {'mag': 1}, 'lati': 77.1012, 'longi': 28.6711}, {'n': 'TILAK NAGAR', 'properties': {'mag': 2}, 'lati': 77.1014, 'longi': 28.639}, {'n': 'VIJAY VIHAR', 'properties': {'mag': 0}, 'lati': 77.1019, 'longi': 28.71}, {'n': 'KHYALA', 'properties': {'mag': 4}, 'lati': 77.1133, 'longi': 28.6576}, {'n': 'ROHINI SOUTH', 'properties': {'mag': 2}, 'lati': 77.1159, 'longi': 28.7024}, {'n': 'ROHINI NORTH', 'properties': {'mag': 1}, 'lati': 77.1182, 'longi': 28.7089}, {'n': 'RANI BAGH', 'properties': {'mag': 1}, 'lati': 77.1193, 'longi': 28.6978}, {'n': 'RAJOURI GARDEN', 'properties': {'mag': 1}, 'lati': 77.1196, 'longi': 28.6515}, {'n': 'RAJOURI GARDEN', 'properties': {'mag': 1}, 'lati': 77.1199, 'longi': 28.6397}, {'n': 'MAYA PURI', 'properties': {'mag': 1}, 'lati': 77.1208, 'longi': 28.6266}, {'n': 'KN KATJU MARG', 'properties': {'mag': 0}, 'lati': 77.121, 'longi': 28.7304}, {'n': 'DELHI CANTT', 'properties': {'mag': 3}, 'lati': 77.1244, 'longi': 28.5987}, {'n': 'PRASHANT VIHAR', 'properties': {'mag': 2}, 'lati': 77.1276, 'longi': 28.7179}, {'n': 'PUNJABI BAGH', 'properties': {'mag': 4}, 'lati': 77.1328, 'longi': 28.6744}, {'n': 'KIRTI NAGAR', 'properties': {'mag': 2}, 'lati': 77.1351, 'longi': 28.6405}, {'n': 'NARAINA', 'properties': {'mag': 1}, 'lati': 77.1378, 'longi': 28.6336}, {'n': 'ALIPUR', 'properties': {'mag': 3}, 'lati': 77.1391, 'longi': 28.799}, {'n': 'SAMAYPURBADLI', 'properties': {'mag': 0}, 'lati': 77.1422, 'longi': 28.7252}, {'n': 'SUBHASH PLACE', 'properties': {'mag': 2}, 'lati': 77.1441, 'longi': 28.689}, {'n': 'INDERPURI', 'properties': {'mag': 1}, 'lati': 77.145, 'longi': 28.6308}, {'n': 'MAURYA ENCLAVE', 'properties': {'mag': 1}, 'lati': 77.146, 'longi': 28.7004}, {'n': 'MOTI NAGAR', 'properties': {'mag': 4}, 'lati': 77.1466, 'longi': 28.6601}, {'n': 'FATEHPUR BERI', 'properties': {'mag': 3}, 'lati': 77.1511, 'longi': 28.4655}, {'n': 'VASANT KUNJ NORTH', 'properties': {'mag': 1}, 'lati': 77.1523, 'longi': 28.5349}, {'n': 'VASANT KUNJ SOUTH', 'properties': {'mag': 0}, 'lati': 77.1524, 'longi': 28.5349}, {'n': 'SWARUP NAGAR', 'properties': {'mag': 1}, 'lati': 77.1562, 'longi': 28.7584}, {'n': 'SHALIMAR BAGH', 'properties': {'mag': 2}, 'lati': 77.1571, 'longi': 28.7168}, {'n': 'PATEL NAGAR', 'properties': {'mag': 1}, 'lati': 77.1582, 'longi': 28.6524}, {'n': 'RANJIT NAGAR', 'properties': {'mag': 1}, 'lati': 77.1587, 'longi': 28.6475}, {'n': 'KESHAV PURAM', 'properties': {'mag': 1}, 'lati': 77.1598, 'longi': 28.6842}, {'n': 'MAHENDRA PARK', 'properties': {'mag': 1}, 'lati': 77.1642, 'longi': 28.7258}, {'n': 'BHALSWA DAIRY', 'properties': {'mag': 1}, 'lati': 77.1657, 'longi': 28.7429}, {'n': 'VASANT VIHAR', 'properties': {'mag': 0}, 'lati': 77.1693, 'longi': 28.558}, {'n': 'ANAND PARBAT', 'properties': {'mag': 2}, 'lati': 77.1738, 'longi': 28.66}, {'n': 'ASHOK VIHAR', 'properties': {'mag': 2}, 'lati': 77.1743, 'longi': 28.6924}, {'n': 'JAHANGIR PURI', 'properties': {'mag': 1}, 'lati': 77.1749, 'longi': 28.7336}, {'n': 'ADRASH NAGAR', 'properties': {'mag': 1}, 'lati': 77.1753, 'longi': 28.7098}, {'n': 'BHARAT NAGAR', 'properties': {'mag': 1}, 'lati': 77.1785, 'longi': 28.6806}, {'n': 'SOUTH CAMPUS', 'properties': {'mag': 2}, 'lati': 77.179, 'longi': 28.5705}, {'n': 'MEHRAULI', 'properties': {'mag': 3}, 'lati': 77.1802, 'longi': 28.5215}, {'n': 'PARSHAD NAGAR', 'properties': {'mag': 1}, 'lati': 77.1805, 'longi': 28.6478}, {'n': 'RAJINDER NAGAR', 'properties': {'mag': 1}, 'lati': 77.1828, 'longi': 28.635}, {'n': 'SARAI ROHILLA', 'properties': {'mag': 0}, 'lati': 77.1837, 'longi': 28.6684}, {'n': 'GULABIBAGH', 'properties': {'mag': 0}, 'lati': 77.1926, 'longi': 28.67}, {'n': 'KAROL BAGH', 'properties': {'mag': 1}, 'lati': 77.1932, 'longi': 28.6526}, {'n': 'D.B.G ROAD', 'properties': {'mag': 1}, 'lati': 77.1933, 'longi': 28.6526}, {'n': 'MODEL TOWN', 'properties': {'mag': 1}, 'lati': 77.1937, 'longi': 28.7026}, {'n': 'CHANAKYAPURI', 'properties': {'mag': 1}, 'lati': 77.1961, 'longi': 28.6034}, {'n': 'BURARI', 'properties': {'mag': 1}, 'lati': 77.1974, 'longi': 28.7366}, {'n': 'SAFDARJUNG ENCLAVE', 'properties': {'mag': 0}, 'lati': 77.1986, 'longi': 28.5585}, {'n': 'SAROJINI NAGAR', 'properties': {'mag': 0}, 'lati': 77.1991, 'longi': 28.5745}, {'n': 'ROOP NAGAR', 'properties': {'mag': 2}, 'lati': 77.2026, 'longi': 28.685}, {'n': 'MANDIR MARG', 'properties': {'mag': 4}, 'lati': 77.2032, 'longi': 28.6386}, {'n': 'MALVIYA NAGAR', 'properties': {'mag': 4}, 'lati': 77.2042, 'longi': 28.5299}, {'n': 'SAFDARJUNG ENCLAVE', 'properties': {'mag': 0}, 'lati': 77.2049, 'longi': 28.5693}, {'n': 'MAURICE NAGAR', 'properties': {'mag': 1}, 'lati': 77.2065, 'longi': 28.6925}, {'n': 'SUBZIMANDI', 'properties': {'mag': 2}, 'lati': 77.2077, 'longi': 28.6692}, {'n': 'BARA HINDU RAO', 'properties': {'mag': 2}, 'lati': 77.2085, 'longi': 28.6654}, {'n': 'HAUZ KHAS', 'properties': {'mag': 0}, 'lati': 77.2085, 'longi': 28.5494}, {'n': 'MUKHERJI NAGAR', 'properties': {'mag': 1}, 'lati': 77.2086, 'longi': 28.7002}, {'n': 'PAHARGANJ', 'properties': {'mag': 2}, 'lati': 77.2093, 'longi': 28.6458}, {'n': 'SADAR BAZAR', 'properties': {'mag': 0}, 'lati': 77.2112, 'longi': 28.654}, {'n': 'TUGLAK ROAD', 'properties': {'mag': 1}, 'lati': 77.2112, 'longi': 28.5983}, {'n': 'PARLIAMENT STREET', 'properties': {'mag': 2}, 'lati': 77.2137, 'longi': 28.6247}, {'n': 'NEB SARAI', 'properties': {'mag': 1}, 'lati': 77.2143, 'longi': 28.4989}, {'n': 'CONNAUGHT PLACE', 'properties': {'mag': 1}, 'lati': 77.2143, 'longi': 28.63}, {'n': 'NABI KARIM', 'properties': {'mag': 0}, 'lati': 77.2175, 'longi': 28.6498}, {'n': 'LAHORI GATE', 'properties': {'mag': 2}, 'lati': 77.2188, 'longi': 28.6556}, {'n': 'CIVIL LINES', 'properties': {'mag': 1}, 'lati': 77.2215, 'longi': 28.6885}, {'n': 'TIMARPUR', 'properties': {'mag': 2}, 'lati': 77.2242, 'longi': 28.7072}, {'n': 'BARAKHAMBA ROAD', 'properties': {'mag': 4}, 'lati': 77.225, 'longi': 28.6309}, {'n': 'KOTALA MUBARAK PUR', 'properties': {'mag': 2}, 'lati': 77.2251, 'longi': 28.5759}, {'n': 'HAUZQAZI', 'properties': {'mag': 1}, 'lati': 77.2255, 'longi': 28.6434}, {'n': 'KASHMERE GATE', 'properties': {'mag': 1}, 'lati': 77.2262, 'longi': 28.6664}, {'n': 'KAMLA MARKET', 'properties': {'mag': 0}, 'lati': 77.2262, 'longi': 28.643}, {'n': 'SAKET', 'properties': {'mag': 0}, 'lati': 77.2272, 'longi': 28.5288}, {'n': 'KASHMERE GATE', 'properties': {'mag': 1}, 'lati': 77.2315, 'longi': 28.6625}, {'n': 'GREATER KAILASH', 'properties': {'mag': 0}, 'lati': 77.2328, 'longi': 28.5541}, {'n': 'DEFENCE COLONY', 'properties': {'mag': 1}, 'lati': 77.2334, 'longi': 28.5647}, {'n': 'JAMA MASJID', 'properties': {'mag': 0}, 'lati': 77.2336, 'longi': 28.6528}, {'n': 'PRASHANT VIHAR', 'properties': {'mag': 2}, 'lati': 77.2337, 'longi': 28.6042}, {'n': 'TILAK MARG', 'properties': {'mag': 2}, 'lati': 77.2354, 'longi': 28.6182}, {'n': 'CHANDNI MAHAL', 'properties': {'mag': 1}, 'lati': 77.2361, 'longi': 28.6436}, {'n': 'LODHI COLONY', 'properties': {'mag': 0}, 'lati': 77.2405, 'longi': 28.5874}, {'n': 'LAJPAT NAGAR', 'properties': {'mag': 0}, 'lati': 77.2405, 'longi': 28.5684}, {'n': 'DARYA GANJ', 'properties': {'mag': 0}, 'lati': 77.2406, 'longi': 28.6419}, {'n': 'AMAR COLONY', 'properties': {'mag': 4}, 'lati': 77.2409, 'longi': 28.5591}, {'n': 'SANGAM VIHAR', 'properties': {'mag': 0}, 'lati': 77.243, 'longi': 28.5096}, {'n': 'H. N. DIN', 'properties': {'mag': 0}, 'lati': 77.2442, 'longi': 28.5924}, {'n': 'I.P. ESTATE', 'properties': {'mag': 2}, 'lati': 77.2472, 'longi': 28.6274}, {'n': 'CHITRANJAN PARK', 'properties': {'mag': 1}, 'lati': 77.2492, 'longi': 28.5363}, {'n': 'KHAJURIKHAS', 'properties': {'mag': 0}, 'lati': 77.2561, 'longi': 28.7111}, {'n': 'SONIA VIHAR', 'properties': {'mag': 2}, 'lati': 77.2561, 'longi': 28.7113}, {'n': 'KALKAJI', 'properties': {'mag': 0}, 'lati': 77.2564, 'longi': 28.5473}, {'n': 'KALKAJI', 'properties': {'mag': 0}, 'lati': 77.2574, 'longi': 28.5332}, {'n': 'SUNLIGHT COLONY', 'properties': {'mag': 4}, 'lati': 77.2602, 'longi': 28.5784}, {'n': 'NEW USMANPUR', 'properties': {'mag': 0}, 'lati': 77.2621, 'longi': 28.672}, {'n': 'BHAJANPURI', 'properties': {'mag': 1}, 'lati': 77.2644, 'longi': 28.7013}, {'n': 'GOVIND PURI', 'properties': {'mag': 1}, 'lati': 77.2653, 'longi': 28.5307}, {'n': 'GANDHI NAGAR', 'properties': {'mag': 0}, 'lati': 77.2673, 'longi': 28.6596}, {'n': 'NEW FRIENDS COLONY', 'properties': {'mag': 2}, 'lati': 77.2676, 'longi': 28.5623}, {'n': 'SEELAMPUR', 'properties': {'mag': 1}, 'lati': 77.2686, 'longi': 28.6743}, {'n': 'SHAKARPUR', 'properties': {'mag': 0}, 'lati': 77.2703, 'longi': 28.6378}, {'n': 'ZAFRABAD', 'properties': {'mag': 0}, 'lati': 77.273, 'longi': 28.6791}, {'n': 'KARAWAL NAGAR', 'properties': {'mag': 2}, 'lati': 77.2745, 'longi': 28.7328}, {'n': 'OKHLA', 'properties': {'mag': 2}, 'lati': 77.2746, 'longi': 28.5268}, {'n': 'WELCOME', 'properties': {'mag': 0}, 'lati': 77.2748, 'longi': 28.6734}, {'n': 'GEETA COLONY', 'properties': {'mag': 0}, 'lati': 77.2764, 'longi': 28.6554}, {'n': 'KRISHNA NAGAR', 'properties': {'mag': 2}, 'lati': 77.2807, 'longi': 28.667}, {'n': 'GOKULPURI', 'properties': {'mag': 1}, 'lati': 77.2808, 'longi': 28.7022}, {'n': 'SARITA VIHAR', 'properties': {'mag': 0}, 'lati': 77.282, 'longi': 28.5405}, {'n': 'JAGATPURI', 'properties': {'mag': 2}, 'lati': 77.2839, 'longi': 28.6436}, {'n': 'SHAHDARA', 'properties': {'mag': 1}, 'lati': 77.2852, 'longi': 28.6742}, {'n': 'PULPRAHLAD PUR', 'properties': {'mag': 1}, 'lati': 77.291, 'longi': 28.5016}, {'n': 'JYOTI NAGAR', 'properties': {'mag': 2}, 'lati': 77.2917, 'longi': 28.6961}, {'n': 'FARASH BAZAR', 'properties': {'mag': 2}, 'lati': 77.2922, 'longi': 28.6688}, {'n': 'JAMIA NAGAR', 'properties': {'mag': 2}, 'lati': 77.2924, 'longi': 28.5621}, {'n': 'ANANDVIHAR', 'properties': {'mag': 2}, 'lati': 77.2937, 'longi': 28.6534}, {'n': 'PREETVIHAR', 'properties': {'mag': 0}, 'lati': 77.2953, 'longi': 28.6385}, {'n': 'MANSAROVAR PARK', 'properties': {'mag': 2}, 'lati': 77.2986, 'longi': 28.6828}, {'n': 'PANDAV NAGAR', 'properties': {'mag': 2}, 'lati': 77.3026, 'longi': 28.6204}, {'n': 'BADAR PUR', 'properties': {'mag': 1}, 'lati': 77.3036, 'longi': 28.4938}, {'n': 'MAYURVIHAR', 'properties': {'mag': 0}, 'lati': 77.3037, 'longi': 28.6073}, {'n': 'MADHUVIHAR', 'properties': {'mag': 1}, 'lati': 77.3061, 'longi': 28.6254}, {'n': 'MANDAWALI', 'properties': {'mag': 1}, 'lati': 77.3061, 'longi': 28.6254}, {'n': 'SARITA VIHAR', 'properties': {'mag': 0}, 'lati': 77.3062, 'longi': 28.523}, {'n': 'VIVEKVIHAR', 'properties': {'mag': 0}, 'lati': 77.3066, 'longi': 28.6668}, {'n': 'NANDNAGARI', 'properties': {'mag': 2}, 'lati': 77.3082, 'longi': 28.6985}, {'n': 'NEW ASHOK NAGAR', 'properties': {'mag': 4}, 'lati': 77.3118, 'longi': 28.5982}, {'n': 'ANANDVIHAR', 'properties': {'mag': 2}, 'lati': 77.3131, 'longi': 28.656}, {'n': 'G.T.B. ENCLAVE', 'properties': {'mag': 0}, 'lati': 77.316, 'longi': 28.685}, {'n': 'SEEMAPURI', 'properties': {'mag': 0}, 'lati': 77.3165, 'longi': 28.6781}, {'n': 'KALYANPURI', 'properties': {'mag': 0}, 'lati': 77.3171, 'longi': 28.6136}, {'n': 'HARSH VIHAR', 'properties': {'mag': 1}, 'lati': 77.3185, 'longi': 28.706}, {'n': 'GHAZIPUR', 'properties': {'mag': 0}, 'lati': 77.3327, 'longi': 28.6249}]

In [32]:
loc=pd.DataFrame.from_dict(ar)
loc.head()

      lati    longi                    n  properties
0  76.9156  28.5957      JAFFARPUR KALAN  {'mag': 3}
1  76.9608  28.6704               MUNDKA  {'mag': 3}
2  76.9668  28.6287  BABA HARI DAS NAGAR  {'mag': 3}
3  76.9827  28.6098            NAJAFGARH  {'mag': 1}
4  76.9947  28.5869              CHHAWLA  {'mag': 3}

In [33]:
loc.to_sql('final', con=database_connection, if_exists='replace',chunksize=1000,index=False)

ProgrammingError: (mysql.connector.errors.ProgrammingError) Failed processing pyformat-parameters; Python 'dict' cannot be converted to a MySQL type [SQL: 'INSERT INTO final (lati, longi, n, properties) VALUES (%(lati)s, %(longi)s, %(n)s, %(properties)s)'] [parameters: ({'lati': 76.9156, 'longi': 28.5957, 'n': 'JAFFARPUR KALAN', 'properties': {'mag': 3}}, {'lati': 76.9608, 'longi': 28.6704, 'n': 'MUNDKA', 'properties': {'mag': 3}}, {'lati': 76.9668, 'longi': 28.6287, 'n': 'BABA HARI DAS NAGAR', 'properties': {'mag': 3}}, {'lati': 76.9827, 'longi': 28.6098, 'n': 'NAJAFGARH', 'properties': {'mag': 1}}, {'lati': 76.9947, 'longi': 28.5869, 'n': 'CHHAWLA', 'properties': {'mag': 3}}, {'lati': 77.0036, 'longi': 28.7258, 'n': 'KANJHAWALA', 'properties': {'mag': 3}}, {'lati': 77.0156, 'longi': 28.6037, 'n': 'DWARKA NORTH', 'properties': {'mag': 3}}, {'lati': 77.0228, 'longi': 28.8066, 'n': 'BAWANA', 'properties': {'mag': 3}}  ... displaying 10 of 166 total bound parameter sets ...  {'lati': 77.3185, 'longi': 28.706, 'n': 'HARSH VIHAR', 'properties': {'mag': 1}}, {'lati': 77.3327, 'longi': 28.6249, 'n': 'GHAZIPUR', 'properties': {'mag': 0}})] (Background on this error at: http://sqlalche.me/e/f405)